@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
	display: flex;
	margin: 0%;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	font-family: 'Noto Serif', serif;
	font-size: 1em;
	font-weight: 400;
	background-image: radial-gradient(circle, white, white, blue);
}

.index{
	width: 350px;
	height: 400px;
	position: relative;
	border: #0d2c46 solid 5px;
	padding: 20px 40px;
	border-radius: 20px;
	margin-top: 30%;

}

.index button{
	justify-content:center;
	
}
h1{
	font-family: 'Noto Serif', serif;
	text-align: center;
	border-radius: 8px;
	padding: 5px 10px;
	background-color: #0d2c46;
	color: #fff;
}

.index img{
	margin-left: 40px;
	margin-bottom: 18px;

}

.botao1{
	font-family: 'Noto Serif', serif;
	text-decoration: none;
	background-color: #0d2c46;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 8px;
	text-align: center;
	
}

.botao1:hover{
	border-radius: 20px;
	background-color: #66bbff;
}

#agendanew{
	width: 350px;
	height: 300px;
	position: relative;
	border: #0d2c46 solid 5px;
	padding: 20px 40px;
	border-radius: 20px;
	margin-top: 12%;
	
}

.caixa1{
	border: #0d2c46 solid 1px;
	border-radius: 8px;
	margin-left: 2%;
	text-decoration: none;	
	margin-bottom: 10px;
	padding: 5px;
	width: 320px;
	text-align: center;
	
}

.caixa3{
	padding: 5px;
	margin-bottom: 10px;
	border: #ff0000 solid 1px;
	margin-left: 2%;
	border-radius: 8px;
	text-align: center;
}

.table{
	border-radius: 5px;
	position: static;
    border-radius: 7px;
    margin-top: 20px;
}

.botaox{
	font-family: 'Noto Serif', serif;
	text-decoration: none;
	background-color: #d51213;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 8px;
	text-align: center;
}

table thead tr {
    border-radius: 5px;
	border: 2px 2px 2px 2px solid rgb(15, 2, 75);
	padding: 10px;
	text-align: center;
	background-color: #66bbff;
	color: #fff;
	
}

.table td{
	
	border: 2px solid #ddd;
	padding: 10px;
	text-align: left;

}

.botoesedt{
	justify-content: center;
	gap: 30px;
	display: flex;
	
}

.but, .but:visited{
	font-family: 'Noto Serif', serif;
	background-color: rgb(255, 47, 151);
	margin-top: 10px;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
}

.but:hover{
	cursor: pointer;
	
}

.botaox:hover{
	background-color:  #ff2f97;
	border-radius: 20px;
	
}


